// Colors site
$white:           #fff !default;
$black:           #000 !default;
$yellow:          #facc1b;

$light-base:      #fcf0e2;
$green-base:      #6bb97c;
$gray-base:       #b3b3b3;

$header-site:     #1e2023;
$footer-site:     #2f363a;
$rodape-ft:       #1e2023
